
.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;

}
.defenation{
  color: white;
  align-content: justify;
  font-size: 1.5vw;
  font-weight: lighter;
  transform: translate3d(0, 20%, 0);
  text-transform: initial;
  font-style: italic;
}
.cfont{
  font-size: 2.3vw;
}
.sfont{
  font-size:3.5vw;
}
.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}

.number {
  font-size: 450px;
  color: #373c4c;
}

.number span {
  display: inline-block;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.header {
  margin-left: 350px;
  font-size: 70px;
  color: white;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: transparent;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
  
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
  cursor: pointer;
}

#video-background {
  /*  making the video fullscreen  */
    position: fixed;
    left: 0; 
    bottom: 0;
    max-width: 100%; 
    max-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
  }
.pink {
  background-color:#008aa5;
}

.teal {
  /* background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%); */
  background-color:#dd3e54; 
}

.tomato {
  /* background: linear-gradient(to right, tomato 0%, gold 100%); */
  background: #00c389;
}
.yellow{
  background-color:#df744a ;
}
.bfon{
  font-size: 18px;
}
.navbuton{
  margin: 0.5rem;
  padding: 0.4rem;
  text-decoration: none;
  cursor: pointer;
  color:gray;
  text-transform: uppercase;
}
.navbuton:hover{
  color: black;
}

.container4{
  background-color:white; 
}

.first{
  color:white;
}
.second{
  color:palegreen;
}
.simage{
  position: absolute;
  top:20vh;
  width:35% !important;
}
.ima{
  max-width: 100%;
  
}
.full{
  top: 0%;
  left: 0%;
  width: 100% !important;
  height: 100% !important;
}
.stitle{
  width:40% !important;
  height: auto !important;
  display:flex;
  flex-direction: column;
  top:25vh;
  font-size: 3vw;
  letter-spacing: 0.5vw;
  font-weight: 450;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #48474d;
  padding:1vh 3vh; 
}
.sdisp{
  top:45vh;
  
  height:auto;
  width:60% !important;
  font-size: 2.5vmin;
  letter-spacing: 0.1vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top:2vh; 
  padding:1vh 3vh; 
  
  text-align: justify !important;
}
.sposleft{
  left:0%;
  
}
.sposright{
  right:0%;
  
}
.sorileft{
  left:35%;
}
.soriright{
  right:35%;
  text-align: right;
}

.top-menu {
	top: 30%;
}
.bottom-menu {
	position: absolute !important;
	bottom: 0;
}
.stick-left-nav-ul {
	padding-left: 20px;
  width: 120px;
}
.sticky-left-nav {
	position: fixed;
	/*top: 20%;*/
	width: 120px;
	display: block;
	background-color: transparent;
	z-index: 1;
}
.nav-extend {
	list-style: none;
	height: 11vh;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.nav-extend a::before {
	content: "";
	display: block;
	width: 60px;
	height: 1px;
	opacity: 1;
	background-color: darkgray;
	transition: all 0.3s ease-in-out;
}

/*.sticky-left-nav ul li:hover.icon-active .svg-icon svg {
	width: 30px !important;
	height: 30px !important;
}*/
/*.sticky-left-nav ul li.nav-extend .svg-icon svg {
	width: 70px;
	height: 70px;
}*/
.activ{
  border-bottom-color: #008ba5;
  border-bottom-width: 3px; 
  border-bottom-style: solid;
}

.nav-extend:hover .a::before {
	width: 100px;
	height: 4px;
  opacity: 1;
  background-color: #008ba5;
}
.cursor{
  cursor: pointer;
}
.active .a::before{
  width: 100px;
  height: 4px;
  background-color: #008ba5;
  opacity: 1;
}
.active{
  margin-bottom: 20px;
}
.nav-extend a, .nav-extend a:hover, .nav-extend a:focus {
	text-decoration: none;
}
.nav-extend .a span {
	display: block;
	color: black;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	padding-top: 4px;
  font-size: 16px;/*width: 150px;*/
  font-family: kanit;
  font-weight: normal;
}
.nav-extend .a span:hover {
	opacity: 1;
}
.active .a span{
  opacity: 1;
  
}
.scup{
  width:auto !important;
  right:0%;
}
.black{
  border-color: black !important;
  
}
.scdown{
  width:auto !important;
  right:0%;
}
.leftarrow:hover{
  padding: 17px;
}

.rightarrow:hover{
  padding: 17px;
}
.leftarrow{
  z-index: 100;
  position: fixed;
  bottom:50px;
  right:5vw;
  padding: 15px;
  border-width : 2px 2px 0px 0px;
  border-style:solid; 
  border-color: white;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: padding 0.3s;
}
.rightarrow{
  z-index: 100;
  position: fixed;
  bottom:25px;
  right:5vw;
  padding: 15px;
  border-width : 0px 0px 2px 2px;
  border-style:solid; 
  border-color: white;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: padding 0.3s;
}
.container2{
  width: 100%;
  height: auto;
  background-color: white;
}
.container3{
  background-color: white;
  margin: 5% 0% 0% 10%;
  padding:12vh 5vh 12vh 5vh;
  }
  
/* products page styles */
.product{
  width: 100%;
  text-align: center;
  align-content: center;
  
}
.astecs{
  text-align: center;
  align-content: center;
  width: 100%;
  height: 70vh;
  }
.astec_color{
  background: linear-gradient(to bottom, #800080 0%, white 80%);
}
.crm_color{
  background: linear-gradient(to bottom, #008ba5 0%, white 80%);
}
.data_color{
  background: linear-gradient(to bottom, #f45b63 0%, white 80%);
}
.server_color{
  background: linear-gradient(to bottom, #34b08c 0%, white 80%);  
}
.astec_color1{
  background-color:#800080;
}
.crm_color1{
  background-color:#008ba5;
}
.data_color1{
  background-color:#f45b63;
}
.server_color1{
  background-color:#34b08c;
}
.border_space{  
}
hr{
  height:0.6vh;
  margin-left:20vw;
  margin-right:20vw; 
  background-color:#800080;
}
.product_title{
  position: absolute;
  top:30vh;
  padding: 0vw 18vw 0vw 18vw;
  transform: translateY(-50%);
  font-size: 3.7vw;

  font-family: kanit;
  font-weight:normal;
  animation: mymove 1.5s ;
  animation-timing-function: ease-in-out; 
}
.MuiInput-underline-25{
  border-bottom:1px solid #008ba5 !important; 
}
.MuiInput-underline-25:before{
  border-bottom:1px solid white !important; 
}
.MuiInput-underline-25:after{
  border-bottom:1px solid #008ba5 !important; 
}
.MuiInput-underline-25:hover{
  border-bottom:2px solid #008ba5 !important; 
}


.hrr{
  animation: mymove2 2s ;
  animation-timing-function: ease-in-out;


}
@keyframes mymove2 {
  from {width:0%; opacity: 0}
  to {width: 59%; opacity: 1;}
  
}

@keyframes mymove1 {
  from {top: 20vh; opacity: 0;}
  to {to: 50vh; opacity: 1;}
}
@keyframes mymove {
  from {top: 10vh; opacity: 0;}
  to {to: 30vh; opacity: 1;}
}
.product_discription{
  position: absolute;
  
  top:50vh;
  padding: 0vw 16vw 0vw 16vw;
  font-family:roboto;
  font-size: 1.5vw;
  animation: mymove1 1.5s ;
  animation-timing-function: ease-in-out;
}
.card {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
  width: 100%;
  animation: mymove3 1s ;
  animation-timing-function:ease-in-out;

}
@keyframes mymove3 {
  from {transform: scale(0);}
  to {transform: scale(1);}
  
}

.card:hover {
  transform: rotateY(180deg);
}
.backul{
  padding:0px; 
    height: 80%;
    width: 100%;
    height: 90%;
    overflow: hidden;
    list-style-type: none
}
.backul li{
  padding-left:2.5vw;
}

.back{
  text-align: left !important;
  font: 1.03em roboto;
}

.card .back {
  backface-visibility: hidden;
  position: absolute;
  height: 90%;
  top:0%;
  width: 100%;
  border-radius:1vw; 
  transform: rotateY(180deg);

  color: white;
  line-height: 8vh;
  text-align: center;
}
.item{
  height: auto;
  padding-top:6vh;
  padding-bottom:6vh; 
  margin-left:10vw;
  margin-right:3vw; 
}

.items{
  backface-visibility: hidden;  
  width: 100%;
  display: flex;
  flex-direction: column; 
  height: 62vh;
}
.item_icon{
  height: 15vh;
  padding-top: 1.2vw;
}
.item_title{
  padding-top: 1vw;
  font-family:kanit;
  font-size: 1.8vw; 
  
}
.item_discription{
  padding:0vw 1.5vw 1vw 1.5vw; 
  font-family:roboto;
  font-size: 1.3vw;
  text-align: justify;
}
.product_about{
  padding-top: 1vw;
  padding-bottom: 5vw; 
  height: auto;
  color: white;
  background-color: #800080;  
}
.product_about h2{
 
  padding: 0vw 18vw 0vw 18vw;
  font-size: 4vw;
  font-family: kanit;
}
.product_about p{
   
  padding: 0vw 17vw 0vw 17vw;
  font-family:roboto;
  font-size: 1.2vw;
}
.product_features{
  padding:  5vw 17vw 5vw 17vw;
}
.product_features span{
  font-size: 6vh;
  color: #800080; 
}
.product_features img{
  padding:  4vw 0vw 4vw 0vw;
  width: 100%;
  height: auto;
}
.crmimg{
  width:80vh;
  height:50vh;
}

/* about page css */
.about{
  width: 100%;
  height: auto;
  margin-top:12vh; 
}
.about_strip{
  background-color: #008ba5;
  color:white;
  text-align: center;
  height: auto;
  padding: 0.1vw 8vw 4vw 8vw;
}
.about_strip h1{
  font:4em roboto;
}
.about_strip q{
  font: 1.2em roboto;
  font-style: italic;
}
.about_strip span{
  text-align: right;
}
.about_img{
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  padding: 8vh 5vw 8vh 1vh; 
}
.about_img .content{
  width: 50%;
}
.about_img .content h1{
  font: 2.5em roboto;
}
.about_img .content p{
  font: 1.22em roboto;
  text-align: justify;
}
.about_img .image{
  width: 50%;
}
.about_img img{
  align-self: center;
  width: 40vw;
  height: auto;
}
.about_strip p{
  font: 1.2em roboto;
}
.contact{
  background-color: white;
  padding: 0.1vw 8vw 4vw 8vw;
}
.contact h1{
  font: 2.8em roboto;
  font-weight: 1000;
}
.contact_agree{
  font: 1.0em roboto;
  
}
.form{
  width: 60vw;
  height: auto;
  display: flex; 
}
.contact_info{
  background-color: #48474d;
  padding: 2vw 8vw 2vw 8vw;
  color: white;
  font: 1.7em roboto;
  text-align:center;
}
.palegreen{
  color: palegreen;
  padding: 1vw 1vw 2vw 1vw;
}

/* bootcamps css */
.bootcamp{
  background-color: white;
 font-family: kanit;
 width: 100%;
}
.translayer{
  background-color: rgba(21, 86, 167, 0.7);
  height: 80vh;
}
.section1{
  background-image: url("media/Learrning\ Lab/imageBehind BlueBG.png");
  background-repeat:no-repeat;
  background-size:cover;  
  height:80vh;
}
.sec1_div1{
  padding: 3vh;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  height: 38vh; 
  
}
.learning{
  position: absolute;
  top:1em;
  right: 3.6em;
  font-size: 1em;
  color:#67a955;
}
.labs{
  position: absolute;
  top:1.3em;
  font-style: bold;
  right: 1.5em;
  color:#ff503c;  
}
.voisin_logo img{   
  padding: 1vw;
  background-color: white;
}
.voisin_logo h1{
  font-size:1.8em; 
  color:white;
  margin: 0vh 0vh;
}
.voisin_logo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1_strip{
  text-align: center;
  font-size: 2em;
  line-height: 0vh;
  background-color: white;
  color:#008ba5;
  height: 10vh;
  border-top:3px solid black; 
}
.sec1_dis{
 height: 32vh;
}
.sec1_dis p{
  color: white;
  width: 30vw;
  margin: 0%;
  font-size: 1.8em;
  text-align: center;
}
.right{
  display: flex;
  justify-content: flex-end;
}
.middle{
  vertical-align: center;
}
.section2{
  background:url("media/Learrning\ Lab/imageBehind GreenBG.png");
  background-repeat:no-repeat;
  background-size:cover;
  height: 70vh;
}

.bootcamp_logo img{
  transform: translate(-100%,-20%);
}
.round-button{
  border: 2.5px solid black;
  border-radius: 15vh;
  width: auto;
  min-width: 140px;
  max-width: 180px;
  display: flex;
  height: auto;
  max-height:50px;
  font-size:1.5em;
  flex-direction: row;
  justify-content: space-between;
}
.middle{
  padding-top:8vh;
}
.b80{
  padding: 5px 0px 0px 15px; 
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.b20{
  cursor: pointer;
}
.sec2con{
  padding: 1px;
  background-color: rgba(21,150,77, 0.7);
  height: 70vh; 
}
.sec2p{
  margin-top:13vh;
  background-color: rgb(21,150,77);
  height: auto;
  color: white;
 font-size: 1.4em;
 text-align: center;
 padding: 2vh 3vw;
}
.sec2bt{
  margin: 2vh 0vh;
}
.bbstrip{
  display: flex;
  justify-content: space-between;
  height: auto;
  max-height: 22vh;
}
.strblue{
  width:15%;
  background-color: #0064ff;
}
.strblack{
  width:85%;
  background-color: black;
  color: #0064ff;
}
.strblack h1{
  font-size: 3em;
  margin: 0px;
}
.strblack h2{
  font-size: 1.8em;
  margin: 0px;
}
.fblue{
  flex-direction: row;
}
.fblack{
  flex-direction: row-reverse;
}
.blright{
  text-align: right;
  padding-right:3vw; 
}
.blcent{ 
  text-align: center;
}
.blueimg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blueback{
  background-image: url("media/Learrning\ Lab/Why join US.png");
  background-repeat: no-repeat;
  background-size:100% 100%;
  width: 85%; 
}
.blueback p{
  color:white;
  font-size: 2.2em;
  width: 60%;
  letter-spacing: 0.1vw;
  float: right;
  padding:1vh 5vw 6vh 0vw; 
}
.joinus{
  width: 15%;
  font-size: 1.7em;
  text-align: center;
  color:grey;
  transform: translate(70%,30%);
}
.prog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:50vh;
  text-align: center;
  align-items: center;
  margin-top:5vh;
  margin-bottom:5vh; 
}
.plogo{
  height: 60%;
}
.plogo img{
  width: 60%;
  height: auto;
}
.ptitle{
  
  color:white;
  transform: skewX(-20deg);
  height: 40%;
  width: 80%;
}
.ptitle h3{
  font-weight:100; 
  font-size:1.7em;
  padding:0vh 3vw; 
  transform: skewX(20deg);
}
.cgray{
  background-color: #262522;
}
.clgray{
  background-color: #545863;
}

/* #262522 #545863 */
/* accordian css */
/* 
*, *:after, *:before{
  box-sizing: inherit;
}

body{
	display:flex;
	justify-content:center;
	padding:50px 0;
	background-color:#FCFCFC;
	min-height:100vh;
	font-size:16px;
	line-height:1.4;
	font-family:'Montserrat', sans-serif;
	color:#372717;
	box-sizing:border-box;
	overflow-y:scroll;
}
.accordion{
	width:100%;
	max-width:470px;
}
.panel{
	background-color:#f0ebe1;
}
	.panel__label{
		position: relative;
		display: block;
		width: 100%;
		background:none;
		border:none;
		text-align:left;
		padding:25px 60px 25px 25px;
		font-weight:500;
		font-size:17px;
		font-family:inherit;
		transition: .2s linear;
		cursor:pointer;
  }
  .panel__label:focus{
			outline:none;
  }
  .panel__label:after,
    .panel__label:before{
			content:'';
			position:absolute;
			right:25px;
			top:50%;
			width:22px;
			height:2px;
			margin-top:-@height; 
			background-color:#372717;
    }
		.panel__label:before{
			transform:rotate(-90deg)
			/* transition transform .35s cubic-bezier(.65, .05, .36, 1) 
    }
	.pannel[aria-expanded='true']
		
		.pannel ^[0]__content{
			opacity:1;
    }
		& ^[0]__label{
			color:#957029;
    }
			&:before{
				transform :rotate(0deg);
      }
	&__inner{
		overflow:hidden;
		will-change:height;
		/* transition height .4s cubic-bezier(.65, .05, .36, 1) 
  }
	&__content{
		margin:5px 25px 25px;
		font-size:14px;
		color:#f0ebe1;
		opacity:0;
		/* transition opacity .3s linear .18s 
  }
	&:not(:last-child){
    margin-bottom:3px;
  } */